@use 'theming.scss' as t;
@use 'media.scss' as m;
@use 'modal.scss' as modal;

.quick-modal {
  width: 55vw;

  @include t.themify {
    border: 1px solid t.theme(main_text);
    background-color: t.theme(main_background);
  }

  @include modal.block-middle;

  &__title {
    position: relative;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.7rem;
    box-sizing: border-box;
    border-bottom: 0;

    @include t.themify {
      background-color: t.theme(main_color);
      color: t.theme(modal_title);
    }
  }

  &__container {  
    max-height: 80vh;
    overflow: auto;
  }
  
  &__content {
    padding: 0.3rem 1.3rem;
  }
}

@include m.media('mobile') {
  .quick-modal {
    border: 0 !important;
    width: 100%;
    height: 100%;
  }
}

@include m.media('tablet') {
  .quick-modal {
    width: 80%;
    height: 80%;
  }
}
