@if (auth.user$ | async; as user) {
  <div class="userbox" (mouseover)="enableMenu()" (mouseout)="disableMenu()">
    <div class="userbox__user">

      @if (user.avatar) {
        <div
          class="userbox__avatar"
          [ngStyle]="{ 'background-image': 'url(' + getUserAvatar(user) + ')' }"
        >
        </div>
      } @else {
        <box-icon name="user" size="md" type="solid" />
      }
      <div class="userbox__link">
        {{ user.username }}
      </div>
    </div>
    <div
      class="userbox__menu"
      [ngClass]="{ 'userbox__menu-hidden' : !menuVisible }"
    >
      <div class="userbox__menulink">
        <a
          [routerLink]="['/terrarium', user.username]"
          i18n="@@userbox.terrarium"
        >
          Your Terrarium
        </a>
      </div>
      <div class="userbox__menulink">
        <a routerLink="/user/edit" i18n="@@userbox.profile">Edit profile</a>
      </div>
      <div class="userbox__menulink">
        <a routerLink="/logout" i18n="@@general.logout">Log out</a>
      </div>
    </div>
  </div>
} @else {
  <div class="userbox__link">
    <a routerLink="/signin" i18n="@@general.signin">Sign in</a>
  </div>
}