@if (themeService.theme$ | async ; as theme) {
  <i
    (click)="handleClick($event)"
    [ngClass]="classList"
    [style.color]="
      disabled
        ? theme + 'grey'
        : color
          ? color
          : theme === 'dark'
            ? 'white'
            : 'black'
      "
    [style.visibility]="hidden ? 'hidden' : 'visible'"
    [style.borderColor]="border && theme === 'dark' ? '#ffffff1a' : undefined"
  ></i>
  <span [ngClass]="{ 'cbx--clickable': click.observed && !disabled }">
    <ng-content />
  </span>
}
