@use 'src/styles/media.scss' as m;

.close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 14pt;
  color: white;
  text-align: center;
  background-color: #191A19;
  border-radius: 15%;
  border: 2px solid black;

  @include m.media('mobile') {
    & {
      top: 0;
      right: 0;
    }
  }

  &-small {
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    font-size: 12pt;
  }
}