<form [formGroup]="form" (ngSubmit)="submit()" method="post">
  <lt-wizard
    [form]="form"
    [moveTo]="wizardPage$ | async"
    (indexChange)="indexChange()"
  >
    <lt-wizard-page
      title="Username"
      control="username"
      i18n-title="@@general.username"
    >
      <lt-user-form-username [usernameReq]="usernameReq$ | async">
        <p i18n="@@user-register.lookingForward">
          We are looking forward to welcoming you to our family!
        </p>
        <p i18n="@@user-register.usernameDesc">
          First of all, let's decide on your <b>username</b>. It may be the
          moniker you've been using for the last 20 years or something like your
          Instagram username.
        </p>
      </lt-user-form-username>
    </lt-wizard-page>

    <lt-wizard-page title="E-mail" control="email" i18n-title="@@general.email">
      <lt-user-form-email>
        <p i18n="@@user-register.emailDesc">
          This is how we identify you uniquely, and it's needed to receive
          notifications and to reset your password in case you forget it.
        </p>
      </lt-user-form-email>
    </lt-wizard-page>

    <lt-wizard-page
      title="Password"
      control="password"
      i18n-title="@@general.password"
    >
      <lt-user-form-password
        [requirements]="pwdReq$ | async"
        formControlName="password"
      >
        <p i18n="@@user-register.passwordDesc">
          <b>We're almost there</b>. Last but not least, a <b>password</b> to
          protect your access
        </p>
      </lt-user-form-password>

      @if (errorInvalidPassword$ | async) {
        <p class="pwd-reset__warning" i18n="@@user-password.invalidPassword">
          Password is invalid. Please follow the rules above.
        </p>
      }

      @if (userCreated$ | async) {
        <p i18n="@@signin.logged">Going in...</p>
      }
    </lt-wizard-page>
  </lt-wizard>
</form>
