<form [formGroup]="userForm" (ngSubmit)="submit()" method="post">
  <lt-wizard
    [form]="userForm"
    [moveTo]="wizardPage"
    (indexChange)="indexChange()"
  >
    <lt-wizard-page
      title="Username"
      control="username"
      i18n-title="@@general.username"
    >
      <lt-wizard-page-description>
        <p i18n="@@user-register.lookingForward">
          We are looking forward to welcoming you to our family!
        </p>
        <p i18n="@@user-register.usernameDesc">
          First of all, let's decide on your <b>username</b>. It may be the
          moniker you've been using for the last 20 years or something like
          your Instagram username.
        </p>
        
        @if (usernameReq) {
          <p i18n="@@user-register.usernameReq">
            It must be {{ usernameReq.minLength }} to {{ usernameReq.maxLength }}
            characters long, and contain only alphanumeric characters, dot (.),
            dash (-) and underscore (_).
          </p>
        }
      </lt-wizard-page-description>

      <div class="form__textinput">
        <input type="textinput" formControlName="username">
        @if (errors.usernameExists) {
          <p class="form__errormsg" i18n="@@user-register.usernameTaken">
            Sorry, your username already exists. Please choose another.
          </p>
        }

        @if (errors.usernameInvalid) {
          <p class="form__errormsg" i18n="@@user-register.usernameInvalid">
            Sorry, your username is not valid. Please, check the formatting.
          </p>
        }
      </div>
    </lt-wizard-page>

    <lt-wizard-page title="E-mail" control="email" i18n-title="@@general.email">
      <lt-wizard-page-description>
        <p i18n="@@user-register.emailDesc">
          This is how we identify you uniquely, and it's needed to receive
          notifications and to reset your password in case you forget it.
        </p>
      </lt-wizard-page-description>

      <div class="form__textinput">
        <input type="email" formControlName="email">

        @if (errors.emailExists) {
          <p class="form__errormsg" i18n="@@user-register.emailTaken">
            Sorry, your e-mail already exists in our system. Are you sure you
            don't have an account already?
          </p>
        }

        @if (errors.emailInvalid) {
          <p class="form__errormsg" i18n="@@user-register.emailInvalid">
            Sorry, your e-mail is not formatted correctly.
          </p>
        }
      </div>
    </lt-wizard-page>

    <lt-wizard-page
      title="Password"
      control="password"
      i18n-title="@@general.password"
    >
      <lt-wizard-page-description>
        <p i18n="@@user-register.passwordDesc">
          <b>We're almost there</b>. Last but not least, a <b>password</b> to
          protect your access
        </p>

        @if (hasPasswordConditions()) {
          <p i18n="@@user-register.passwordReq">Password must contain:</p>
          <ul>
            <li [ngClass]="{ 'form__errormsg': hasPasswordError('minLength') }">
              <span i18n="@@user-register.passwordLength">
                Password must be at least
                <b>{{ pwdReq?.minLength }} characters</b> long
              </span>
            </li>

            @if (pwdReq?.requireUppercase) {
              <li
                [ngClass]="{ 'form__errormsg': hasPasswordError('missingUppercase') }"
              >
                <span i18n="@@user-register.passwordUppercase">
                  One uppercase
                </span>
              </li>
            }

            @if (pwdReq?.requireNumber) {
              <li
                [ngClass]="{ 'form__errormsg': hasPasswordError('missingNumber') }"
              >
                <span i18n="@@user-register.passwordNumber">One number</span>
              </li>
            }

            @if (pwdReq?.requireNonAlphanumeric) {
              <li
                [ngClass]="{ 'form__errormsg': hasPasswordError('missingNonAlphanumeric') }"
              >
                <span i18n="@@user-register.passwordAlphanum">
                  One non-alphanumeric character: {{ nonAlphaNumChars }}
                </span>
              </li>
            }
          </ul>
        }
      </lt-wizard-page-description>

      <ng-container formGroupName="passwordCheck">
        <div class="form__textinput">
          <input
            type="password"
            formControlName="password"
            placeholder="Your password"
            i18n-placeholder="@@user-register.passwordInput"
          >
        </div>
        <div class="form__textinput">
          <input
            type="password"
            formControlName="password2"
            placeholder="Again, your password"
            i18n-placeholder="@@user-register.passwordInputRepeat"
          >
        </div>
      </ng-container>
    </lt-wizard-page>
  </lt-wizard>
</form>