@use 'media.scss' as m;
@use 'themify.scss' as t;

.floating-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 0.7rem;
  z-index: 10000;
  width: 9rem;
  right: 0vw;

  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
  
  @include t.themify {
    background-color: t.theme(main_background);
    border: 1px solid darken(t.theme(secondary_color), 25%);
  }


  &--hidden {
    display: none;
  }
}

@include m.media('mobile') {
  .floating-list {
    position: unset;
    display: contents;
    z-index: 0;
    width: auto;
    right: auto;

    &--hidden {
      display: none;
    }
  }

}