.theme-switcher {

  &__light {
    width: 48px;
    height: 48px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    
    transition: transform 0.4s;
    transform-style: preserve-3d;
    perspective: 1000px;
    
    &-turn {
      transform: rotateY(180deg);
    }

    &-on, &-off {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: 40px 40px;
      background-position: center center;
      background-repeat: no-repeat;
      backface-visibility: hidden;
    }

    &-on {
      background-image: url('/assets/light-on.png');
    }

    &-off {
      background-image: url('/assets/light-off.png');
      transform: rotateY(180deg);
    }
  }
}