<div class="sf">
  <div class="sf__searchbox form__textinput">
    <input
      (focus)="showResults()"
      (keyup)="keyPress($event)"
      [(ngModel)]="inputValue"
      type="text"
      placeholder="Try with something like 'basil'"
      class="sf__search"
      i18n-placeholder="@@specieFinder.inputPlaceholder"
    >
    <button type="button" class="sf__clear" (click)="clearSearch()">
      &#10006;
    </button>
  </div>

  @if (results$ | async; as results) {
  <div
    class="sf__results"
    [ngClass]="{'sf__results-hidden': results.length === 0 || resultsHidden }"
  >
    @for (specie of results; track specie.name) {
      <div
        class="sf__item"
        (click)="selectSpecie(specie.id, specie.name)"
      >
        <div class="sf__image"></div>
        <div class="sf__itemtext">
          <div
            class="sf__title"
            [innerHtml]="(specie.commonName ? specie.commonName : specie.name) | highlight:currentSearch"
          >
          </div>

          @if (specie.commonName) {
            <div
              class="sf__subtitle"
              [innerHtml]="specie.name | highlight:currentSearch"
            >
            </div>
          }
        </div>
      </div>
    }
  </div>
  }
  
</div>