@use 'form.scss';
@use 'themify.scss' as t;
@use 'media.scss' as m;

$width: 30vw;

.sf {
  &__searchbox {
    border: 1px solid rgb(118, 118, 118);
    width: $width;
    display: flex;
    flex-direction: row;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    margin-bottom: 0 !important;

    @include t.themify {
      background-color: t.theme(search_results_background);
    }
  }
  
  &__search {
    background-color: transparent;
    border: 0 !important;
    width: 100% !important;
  }

  &__clear {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__results {
    @include t.themify {
      background-color: t.theme(search_results_background);
      color: t.theme(search_results_text);
    }
    border: 1px solid black;
    width: $width;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    text-align: left;

    &-hidden {
      visibility: hidden;
    }
  }

  &__item {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;

    &:hover {
      @include t.themify {
        background-color: t.theme(search_results_highlight);
      }
    }
  }

  &__subtitle {
    font-style: italic;
  }

  &__title, &__subtitle {
    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__itemtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@include m.media('mobile') {
  .sf {
    &__searchbox {
      width: 15em;
    }

    &__results {
      width: 15em;
    }
  }
}