@use 'src/styles/form.scss';
@use 'src/styles/theming.scss' as t;
@use 'src/styles/media.scss' as m;

.sf {
  position: relative;

  &__searchbox {
    border: 1px solid rgb(118, 118, 118);
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    margin-bottom: 0 !important;

    @include t.themify {
      background-color: t.theme(search_results_background);
    }
  }
  
  &__search {
    background-color: transparent;
    border: 0 !important;
    width: 100% !important;

  }

  &__clear {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__results {
    @include t.themify {
      background-color: t.theme(search_results_background);
      color: t.theme(search_results_text);
    }
    position: absolute;
    border: 1px solid black;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    text-align: left;

    &-hidden {
      visibility: hidden;
    }
  }

  &__item {
    padding: 5px 0;
    display: flex;
    flex-direction: row;

    &:hover {
      @include t.themify {
        background-color: t.theme(search_results_highlight);
      }
    }
  }

  &__subtitle {
    font-style: italic;
  }

  &__title, &__subtitle {
    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__image {
    background-image: url('../../../assets/plants-empty.png');
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  &__itemtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@include m.media('mobile') {
  .sf {
    &__searchbox {
      width: 15em;
    }

    &__results {
      width: 15em;
    }
  }
}