@if (photoService.photo$ | async; as photo) {
  <article class="photo">
    @if (enablePhotoEditing) {
      <lt-quick-modal (close)="enablePhotoEditing = false" title="Edit photo">
        <lt-photo-edit (updated)="enablePhotoEditing = false" />
      </lt-quick-modal>
    }

    <lt-toolbox title="{{ photo.takenAt | date }}">
      @if (photoService.owned) {
        <lt-toolbox-button name="edit" (click)="enablePhotoEditing = true" />
        <lt-toolbox-button name="trash" (click)="openDeleteModal()"/>
      }
    </lt-toolbox>

    <lt-info-box title="Photo information" i18n-title="@@photo.photoInformation">
      @if (photo.description) {
        <div class="photo__description">
          {{ photo.description }}
        </div>
      }

      <ng-container properties>
        <box-icon name="calendar" infoProperty="true">
          {{ photo.takenAt | date }}
        </box-icon>
        
        <lt-property-public [public]="photo.public" />
      </ng-container>

    </lt-info-box>

    <div class="photo__imagebox">
      <lt-content-navigator
        [previousLink]="
          navigation.prev ? ['/photo', navigation.prev.id] : undefined
        "
        [nextLink]="
          navigation.next ? ['/photo', navigation.next.id] : undefined
        "
      >
        <div class="photo__image">
          <a [href]="imageFull" target="_blank">
            <img [src]="imageMid">
          </a>
        </div>
      </lt-content-navigator>
    </div>
  </article>
}

<ng-template #deleteModal>
  <p i18n="@@photo.remove">This will remove this photo. Are you sure?</p>
  <p>
    <strong i18n="@@general.irreversible">
      This action is irreversible.
    </strong>
  </p>
</ng-template>