<div *ngIf="photoService.photo$ | async as photo" class="photo">
  <quick-modal *ngIf="enablePhotoEditing" (close)="enablePhotoEditing = false" title="Edit photo">
    <photo-edit (updated)="enablePhotoEditing = false"></photo-edit>
  </quick-modal>

  <confirm-modal *ngIf="confirmDelete" (accept)="delete()" (cancel)="confirmDelete = false">
    <p i18n="@@photo.remove">This will remove this photo. Are you sure?</p>
    <p><strong i18n="@@general.irreversible">This action is irreversible.</strong></p>
  </confirm-modal>

  <toolbox title="{{ photo.takenAt | date }}">
    <ng-container *ngIf="photoService.owned">
      <toolbox-button image="assets/edit.png" (click)="enablePhotoEditing = true"></toolbox-button>
      <toolbox-button image="assets/delete.png" (click)="confirmDelete = true"></toolbox-button>
    </ng-container>
  </toolbox>

  <info-box title="Photo information" i18n-title="@@photo.photoInformation">
    <div *ngIf="photo.description" class="photo__description">{{ photo.description }}</div>

    <ng-container properties>
      <property-box icon="assets/clock.png">
        <b i18n="@@photo.takenAt">Taken at:</b> {{ photo.takenAt | date }}
      </property-box>

      <property-box [icon]="getVisibilityAsset()">
        <b i18n="@@general.visibility">Visibility:</b>
        <ng-container *ngIf="photo.public; else photoPrivate" i18n="@@general.public">Public</ng-container>
        <ng-template #photoPrivate i18n="@@general.private">Private</ng-template>
      </property-box>

      <property-box *ngIf="photoService.owned">
        <div class="form__checkbox">
          <input type="checkbox" class="photo__cover" id="cover-checkbox" [checked]="plantCoverId === photo.id">
          <label for="cover-checkbox" (click)="updateCoverPhoto()" i18n="@@photo.cover">Cover photo</label>
        </div>
      </property-box>
    </ng-container>

  </info-box>

 <!-- TODO: make the navigation buttons occupy the whole height -->
  <div class="photo__imagebox">
    <navigation
      [previousLink]="navigation.prev ? ['/photo', navigation.prev.id] : undefined"
      [nextLink]="navigation.next ? ['/photo', navigation.next.id] : undefined"
    >
      <div class="photo__image">
        <a [href]="imagePath.get(photo.images, 'full')" target="_blank">
          <img [src]="imagePath.get(photo.images, 'mid')">
        </a>
      </div>
    </navigation>
  </div>
</div>
