<form [formGroup]="form" method="post" (submit)="submit()">
  <div class="modal-text">
    <p i18n="@@plant-edit-fertilizer.header">
      You need to eat and drink, and so do your plants! Again, <b>know</b> your
      plants, and give them the proper fertiliser they require.
    </p>
  </div>

  <div class="form__date">
    <p i18n="@@plant-edit-fertilizer.lastTime">
      Do you remember <b>when was the last time</b> you fertilised it?
    </p>
    <input type="date" [max]="today()" formControlName="fertLast">
  </div>
  <div class="form__number">
    <p i18n="@@plant-edit-fertilizer.nextTime">
      <b>How many days</b> should you wait to feed your plant again?
    </p>
    <input type="number" formControlName="fertFreq">
  </div>
  <div class="form__textinput">
    <p i18n="@@plant-edit-fertilizer.type">
      What kind of fertiliser are you using? Give it a name (i.e.
      <i>succulent fertiliser</i>) or a NPK number.
    </p>
    <input type="text" formControlName="fertType">
  </div>
  <div class="form__submit">
    <button i18n="@@general.update">Update</button>
  </div>
</form>