@use 'themify.scss' as t;

.breadcrumb {
  margin-left: 0.3rem;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;

  .breadcrumb__link {
    display: block;
    margin-left: 0.3rem;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include t.themify {
      color: t.theme(link_color);
    }
  }
}