@if (auth.user$ | async; as user) {
  <article class="userbox">
    <div class="userbox__user" (click)="toggleMenu()">
      @if (user.avatar) {
        <div
          class="userbox__avatar"
          [ngStyle]="{
            'background-image':
              'url(' + (user.avatar | imagePath: 'thumb') + ')'
          }"
        ></div>
      } @else {
        <box-icon name="user" size="md" type="solid" />
      }
      <div class="userbox__link">
        {{ user.username }}
      </div>
    </div>

    <lt-floating-list [visible]="menuVisible">
      @if (user.role == 'ADMIN') {
        <lt-mainnav-item routerLink="/admin" i18n="@@userbox.admin">
          Administration
        </lt-mainnav-item>
      }
        <lt-mainnav-item
          [routerLink]="['/terrarium', user.username]"
          i18n="@@userbox.terrarium"
        >
          Your Terrarium
        </lt-mainnav-item>
        <lt-mainnav-item routerLink="/user/edit" i18n="@@userbox.profile">
          Edit profile
        </lt-mainnav-item>
        <lt-mainnav-item routerLink="/user/reset" i18n="@@userbox.changePassword">
          Change password
        </lt-mainnav-item>
        <lt-mainnav-item routerLink="/logout" i18n="@@general.logout">
          Log out
        </lt-mainnav-item>
    </lt-floating-list>
  </article>
} @else {
  <a routerLink="/signin" i18n="@@general.signin"> Sign in </a>
}
