<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  class="form"
>
  <article class="signin">
    <div class="signin__container">
      <section class="text-center">
        <h1 class="signin__title" i18n="@@signin.homepageTitle">
          Welcome to Little Terrarium!
        </h1>
        <p i18n="@@signin.homepageMsg">
          We are really happy to have you here. Sign in or
          <b routerLink="/register">sign up</b> and start
          taking care of your plants!
        </p>
      </section>
      <div
        class="form__textinput"
        [ngClass]="{
          'form--error': 
            form.controls['username'].touched
            && !!form.controls['username'].errors?.['required']
        }"
      >
        <p i18n="@@signin.identification">Username or email</p>
        <input
          type="text"
          formControlName="username"
          placeholder="PlantLover95"
        />
      </div>
      <div
        class="form__textinput"
        [ngClass]="{
          'form--error': 
            form.controls['password'].touched
            && !!form.controls['password'].errors?.['required']
        }"
      >
        <p i18n="@@general.password">Password</p>
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          i18n-placeholder="@@general.password"
        />
      </div>

      @if (signedIn$ | async) {
        <p i18n="@@signin.logged">
          Going in...
        </p>
      }

      @if (authInvalid$ | async) {
        <div class="text-center form__errormsg">
          <p i18n="@@signin.invalidCredentials">
            Sorry, the credentials are not valid.
          </p>
        </div>
      }

      <div class="form__submit">
        <button
          type="submit"
          i18n="@@general.signin"
          [disabled]="!form.valid"
        >
          Sign in
        </button>
      </div>

      <div class="text-center">
        <a
          class="signin__link"
          routerLink="/register"
          i18n="@@signin.createAccount"
        >
          Don't have an account? <b>Sign up!</b>
        </a>
        <a
          class="signin__link"
          routerLink="/user/recover"
          i18n="@@signin.forgottenPassword"
        >
          Forgot your password?
        </a>
      </div>
    </div>
  </article>
</form>
