@use 'src/styles/media.scss' as m;
@use 'src/styles/theming.scss' as t;
@use 'src/styles/form.scss';

.wizard {
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;

  &__container {
    @include t.themify {
      border-top: 4px solid t.theme(wizard_navigation);
      border-right: 1px solid t.theme(wizard_navigation);
    }
    padding: 20px 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  &__content {
    flex: 1;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;

    button:disabled {
      @include t.themify {
        background-color: lighten(t.theme(wizard_navigation), 25%);
      }
    }
  }

  &__pagination {
    text-align: center;
  }

  &__hidden {
    visibility: hidden;
    display: none;
  }

  &__visible {
    visibility: visible;
    display: block;
  }

  &__preview {
    &-hidden {
      visibility: hidden;
    }
  }

  @include m.media('mobile') {
    & {
      height: 100%;
      overflow-y: initial;

      &__container {
        width: 100%;
      }
    }
  }

  @include m.media('tablet') {
    & {
      height: 100%;
      overflow-y: initial;

      &__container {
        width: 100%;
      }
    }
  }
}