<div class="wizard">
  <div class="wizard__container">
    @if (wizardHeader) {
      <ng-template [ngTemplateOutlet]="wizardHeader.wizardHeaderTemplate" />
    }
    <div class="wizard__content">
      <div *ngFor="let page of pageList; let i = index" [ngClass]="{
        'wizard__visible': !singlePage && (currentIndex === i),
        'wizard__hidden': !singlePage && (currentIndex != i)
      }">
        <ng-template [ngTemplateOutlet]="page.pageTemplate" />
      </div>
    </div>
    <div class="wizard__navigation form__button">
      <ng-container *ngIf="!singlePage">
        <button
          type="button"
          (click)="navigateBack()"
          [ngClass]="{ 'wizard__preview-hidden': currentIndex == 0 }"
          [disabled]="disableNavigation"
          i18n="@@general.previous"
        >Previous</button>
        <button
          type="button"
          *ngIf="currentIndex != (pageList.length - 1)"
          (click)="navigateNext()"
          [disabled]="disableNavigation"
          i18n="@@general.next"
        >Next</button>
      </ng-container>
      <button
        type="submit"
        *ngIf="singlePage || (currentIndex === (pageList.length - 1))"
        [disabled]="disableNavigation"
        i18n="@@general.finish"
      >Finish</button>
    </div>
  </div>
</div>