<confirm-modal *ngIf="confirmDelete" (accept)="delete()" (cancel)="confirmDelete = false">
  <p i18n="@@location.remove">This will remove this location along with its plants and photos. Are you sure?</p>
  <p><strong i18n="@@general.irreversible">This action is irreversible.</strong></p>
</confirm-modal>

<div class="location" *ngIf="location">
  <toolbox [title]="location.name">
    <ng-container *ngIf="owned">
      <toolbox-button image="assets/edit.png" (click)="edit()"></toolbox-button>
      <toolbox-button image="assets/delete.png" (click)="confirmDelete = true"></toolbox-button>
    </ng-container>
  </toolbox>

  <info-box title="Location information" i18n-title="@@location.locationInformation">

    <ng-container properties>
      <property-box [icon]="getLightAsset()">
        {{ getLightName() }}
      </property-box>

      <property-box [icon]="getVisibilityAsset()">
        <ng-container *ngIf="location.public; else locationPrivate" i18n="@@general.public">Public</ng-container>
        <ng-template #locationPrivate i18n="@@general.private">Private</ng-template>
      </property-box>

      <property-box [icon]="getPlantsAsset()">
        <ng-container *ngIf="(location.plants && (location.plants.length > 0)); else noPlants">
          <span i18n="@@location.plants">{{ location.plants.length }} plants</span>
        </ng-container>
        <ng-template #noPlants>
          <span i18n="@@location.noPlants">No plants yet!</span>
        </ng-template>
      </property-box>
    </ng-container>

  </info-box>

  <div class="section-header">
    <h2 i18n="@@location.plantList">Plants living in {{ location.name }}</h2>
  </div>
  <plant-list [owned]="owned" [list]="location.plants" [locationId]="location.id"></plant-list>
</div>