@if (plantService.plant$ | async; as plant) {
  <lt-widget-box
    image="assets/fertilizer.png"
    title="Fertiliser"
    i18n-title="@@general.fertilizer"
  >
    <div>
      @if (plant.fertLast) {
        <p>
          <b i18n="@@general.lastTime">Last time:</b>
          {{ plant.fertLast | date }}
        </p>
      }
      @if (plant.fertType) {
        <p>
          <b i18n="@@plant-widget-fertilizer.type">Fertiliser:</b>
          {{ plant.fertType }}
        </p>
      }
    </div>

    <div bottom>
      @if (plant.fertFreq) {
        <p i18n="@@plant-widget-fertilizer.freq">
          Fertilise every <b>{{ plant.fertFreq }} days</b>
        </p>
      }
      @if (nextDate.text) {
        <p>
          <b i18n="@@general.nextTime">Next time:</b>&nbsp;
          <span [ngStyle]="{ color: nextDate.due ? 'red' : null }">
            {{ nextDate.text }}
          </span>
        </p>
      }
      @if (this.plantService.owned$ | async) {
        <p class="text-center">
          <box-icon
            name="plus-circle"
            type="solid"
            fixedWidth="true"
            size="md"
            (click)="openFertModal()"
            i18n="@@plant-widget-fertilizer.button"
          >
            Fertilize
          </box-icon>
        </p>
      }
    </div>
  </lt-widget-box>
}

<ng-template #fertModal>
  <span i18n="@@plant-widget-fertilizer.confirm">
    This will update your <b>last time fertilized</b> to today.
  </span>
</ng-template>
