<confirm-modal *ngIf="confirmDelete" (accept)="delete()" (cancel)="confirmDelete = false">
  <p>This will remove this location along with its plants and photos. Are you sure?</p>
  <p><strong>This decision is irreversible.</strong></p>
</confirm-modal>

<div class="location" *ngIf="location; else invalidId">
  <toolbox [title]="location.name">
    <ng-container *ngIf="owned">
      <toolbox-button image="/assets/edit.png" (click)="edit()"></toolbox-button>
      <toolbox-button image="/assets/delete.png" (click)="confirmDelete = true"></toolbox-button>
    </ng-container>
  </toolbox>

  <info-box title="Location information" [vertical]="false">
    <ng-container properties>
      <div class="location__property" [ngClass]="getLightClass()">{{ getLightName() }}</div>
      <div class="location__property" [ngClass]="getVisibilityClass()">{{ location.public ? 'Public' : 'Private'}}</div>
      <div class="location__property" [ngClass]="getPlantsClass()">
        <ng-container *ngIf="(location.plants && (location.plants.length > 0)); else noPlants">
          {{ location.plants.length }} plants
        </ng-container>
        <ng-template #noPlants>
          No plants yet!
        </ng-template>
      </div>
    </ng-container>
  </info-box>

  <plant-list *ngIf="location.plants" [owned]="owned" [locationId]="location.id" [list]="location.plants"></plant-list>
</div>

<ng-template #invalidId>
  Location invalid or not found
</ng-template>