@use 'src/styles/theming.scss' as t;
@use 'src/styles/media.scss' as m;

.widget-box {
  position: relative;
  border-radius: 20px;
  padding: 25px;
  margin: 10px;
  height: 100%;
  box-sizing: border-box;

  @include t.themify {
    border: 1px solid t.theme(main_font_color);
  }
  
  &__image {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -20px;
    width: 48px;
    height: 48px;
    background-size: cover;

    @include t.themify {
      background-color: t.theme(main_background);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-top {
      flex: 1;
    }
  }
}