.floating-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  border-radius: 100%;
  background-color: green;
  box-shadow: 1px 1px darkgreen;
  padding: 15px;
  right: 50px;
  bottom: 50px;
  width: 30px;
  height: 30px;
  font-size: 25pt;
  cursor: pointer;
}