.badge {
  &__item {
    position: relative;
  }

  &__content {
    font-size: 0.9rem;
    border: 1px solid red;
    background-color: red;
    color: white;
    padding: 0 0.2rem;
  }

  &__content-wrapper {
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
  }
}
