<nav class="mainnav">
  @if (leftSide) {
    <div class="mainnav__left">
      <ul class="content-list">
        @if (brand) {
          <li>
            <a routerLink="/">
              <img src="assets/logo.svg" class="mainnav__brand" />
            </a>
          </li>
        }
        <li>
          <div class="mainnav__hamburger">
            <box-icon
              [name]="hideMenu ? 'menu' : 'x'"
              size="md"
              border="square"
              (click)="toggleMenu()"
            />
          </div>
        </li>
      </ul>
    </div>
  }
  <div class="mainnav__right" [ngClass]="{
    'mainnav--hidden': hideMenu && leftSide,
    'mainnav--no-column': noColumn
  }">
    <ng-content select="[right]" />
  </div>
</nav>
