@use 'themify.scss' as t;
@use 'media.scss' as m;

.mainnav {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  min-height: 5em;
  width: 100%;

  &__hamburger {
    display: none;
  }

  &__left, &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;
  }

  &__left {
    flex: 1;
    margin-left: 1rem;
  }

  &__right {
    margin-right: 1rem;
  }

  &__brand {
    height: 5rem;
  }

  &--no-column {
    flex-direction: row !important;
  }

  // this class shouldn't have any effect on full view
  &--hidden {
    display: flex;
  }
}

@mixin small-devices {
  .mainnav {
    flex-direction: column;
    border-bottom: 1px solid #c3c3c3;

    &__hamburger {
      display: block;
      margin-right: 1.4rem;
    }

    &__brand {
      flex: 1;
    }

    &__left, &__right {
      gap: 1.4rem;
    }

    &__right {
      flex-direction: column;

      &:last-child {
        padding-bottom: 1.4rem;
      }
    }

    &--hidden {
      display: none;
    }
  }
}

@include m.media('mobile') {
  @include small-devices();
}

@include m.media('tablet') {
  @include small-devices();
}
