@if (plantService.plant$ | async; as plant) {

  @if (confirmWatering) {
    <lt-confirm-modal
      (accept)="addWater()"
      (cancel)="confirmWatering = false"
    >
      <p i18n="@@plant-widget-water.confirm">
        This will update your <b>last time watered</b> to today.
      </p>
      <p i18n="@@plant-widget-water.warning">
        If you haven't watered it yet, please check your soil. Never water your
        plants on a schedule!
      </p>
    </lt-confirm-modal>
  }

  <lt-widget-box
    image="assets/water.png"
    title="Watering"
    i18n-title="@@general.watering"
  >
    <div>
      @if (plant.waterLast) {
        <p>
          <b i18n="@@general.lastTime">Last time:</b> {{ plant.waterLast | date }}
        </p>
      }
    </div>

    <div bottom>
      @if (plant.waterFreq) {
        <p i18n="@@plant-widget-water.freq">
          Water every <b>{{ plant.waterFreq }} days</b>
        </p>
      }
      @if (nextDate.text) {
        <p>
          <b i18n="@@general.nextTime">Next time:</b>&nbsp;
          <span [ngStyle]="{ 'color' : nextDate.due ? 'red' : null }">
            {{ nextDate.text }}
          </span>
        </p>
      }
      @if (this.plantService.owned) {
        <lt-plus-button
          type="add"
          title="Water"
          (click)="confirmWatering = true"
        />
      }
    </div>
  </lt-widget-box>

}