<div class="file-uploader"
  (dragenter)="dragEnter($event)"
  (dragover)="dragEnter($event)"
  (dragleave)="dragLeave($event)"
  (dragend)="dragLeave($event)"
  (drop)="dropFile($event)"
  (dragstart)="$event.preventDefault()"
  [ngClass]="{
    'file-uploader__over': dragOver,
    'file-uploader--disabled': disabled,
    'file-uploader--embedded': embedded,
  }"
  [style.width.px]="embedded ? embeddedSize : undefined"
  [style.height.px]="embedded ? embeddedSize : undefined"
>
  @if (files.length === 0) {
    <div class="file-uploader__msg">
      <span i18n="@@fileUploader.select">Select a file or drag it here</span>
    </div>
  }

  @if (files.length > 0) {
    <div class="file-uploader__picturegrid">

      @for (preview of previews; let i = $index; track preview) {
        <div class="file-uploader__picture">
          <span class="file-uploader__removebutton" (click)="removeFile(i)">
            &#10006;
          </span>
          <img
            [src]="preview"
            class="file-uploader__previewimg"
            (load)="revokeUrl(preview)"
            alt="Preview"
            i18n-alt="@@general.preview"
          >
        </div>
      }

    </div>
  }

  <input
    #fileInput
    type="file"
    (change)="fileInputChange($event)"
    [disabled]="availableSlots() === 0 || disabled"
    [multiple]="maxAmount > 1"
    accept="image/*"
    hidden
  >
  <div class="form__button">
    <button
      type="button"
      class="file-uploader__select"
      (click)="fileInput.click()"
      i18n="@@fileUploader.selectButton"
    >
      Select
    </button>
  </div>
</div>