<div class="file-uploader"
  (dragenter)="dragEnter($event)"
  (dragover)="dragEnter($event)"
  (dragleave)="dragLeave($event)"
  (dragend)="dragLeave($event)"
  (drop)="dropFile($event)"
  (dragstart)="$event.preventDefault()"
  [ngClass]="{ 'file-uploader__over': dragOver }"
>
  <div *ngIf="files.length === 0">
    <b i18n="@@fileUploader.select">Select a file or drag it here</b>
  </div>
  <div *ngIf="files.length > 0">
    <div *ngFor="let file of files; let i = index" class="file-uploader__file">
      <span class="file-uploader__removelink" (click)="removeFile(i)">&#10006;</span>
      <span class="file-uploader__filename">{{ file.name | shortFilename:15 }} </span>
    </div>
  </div>

  <input type="file" (change)="fileInputChange($event)" id="file-input" [disabled]="availableSlots() === 0" [multiple]="amount > 1">
  <label for="file-input" class="file-uploader__label" i18n="@@fileUploader.upload">Upload</label>
</div>