<div class="file-uploader"
  (dragenter)="dragEnter($event)"
  (dragover)="dragEnter($event)"
  (dragleave)="dragLeave($event)"
  (dragend)="dragLeave($event)"
  (drop)="dropFile($event)"
  (dragstart)="$event.preventDefault()"
  [ngClass]="{ 'file-uploader__over': dragOver }"
>
  @if (files.length === 0) {
    <div>
      <b i18n="@@fileUploader.select">Select a file or drag it here</b>
    </div>
  }

  @if (files.length > 0) {
    <div class="file-uploader__picturegrid">

      @for (preview of previews; let i = $index; track preview) {
        <div class="file-uploader__picture">
          <span class="file-uploader__removelink" (click)="removeFile(i)">
            &#10006;
          </span>
          <img
            [src]="preview"
            class="file-uploader__previewimg"
            (load)="revokeUrl(preview)"
          >
        </div>
      }

    </div>
  }

  <input
    #fileInput
    type="file"
    (change)="fileInputChange($event)"
    [disabled]="availableSlots() === 0"
    [multiple]="maxAmount > 1"
    accept="image/*"
    capture
    hidden
  >
  <div class="form__button">
    <button
      type="button"
      class="file-uploader__select"
      (click)="fileInput.click()"
      i18n="@@fileUploader.select"
    >
      Select
    </button>
  </div>
</div>