@use 'form.scss';
@use 'media.scss' as m;
@use 'theming.scss' as t;
@use 'modal.scss' as modal;

.confirm-modal {
  max-width: 30vw;
  padding: 1.5rem;

  @include t.themify {
    background-color: t.theme(main_background);
    border: 1px solid t.theme(main_text);
    color: t.theme(main_text);
  }
  @include modal.block-middle;

  &__text {
    text-align: justify;
    margin: 0.7rem 0;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.7rem;
  }
}

@include m.media('mobile') {
  .confirm-modal {
    max-width: 90vw;
  }
}
