@if (taskService.tasks$ | async; as tasks) {
  <div class="tasks">
    <p i18n="@@tasks.msg">
      According to your plant settings, these are the tasks left to do. Blue
      drop, plant needs to drink; green spoon, plants need to eat!
    </p>

    @for (task of tasks; track task) {
      <div class="tasks__plant">
        <img
          class="tasks__plantpic"
          [src]="plantService.coverPhoto(task)"
          [routerLink]="['/plant', task.id]"
        >

        <div class="tasks__plantname" [routerLink]="['/plant', task.id]">
          {{ plantService.getVisibleName(task) }}
        </div>

        <div class="tasks__list">
          <button
            class="tasks__actionbutton"
            [disabled]="!task.waterNext"
            (click)="openWaterModal(task.id)"
          >
            <img
              class="tasks__actionpic"
              alt="Requires watering"
              i18n-alt="@@tasks.waterRequired"
              src="/assets/water.png"
            >
          </button>
          <button
            class="tasks__actionbutton"
            [disabled]="!task.fertNext"
            (click)="openFertModal(task.id)"
          >
            <img
              class="tasks__actionpic"
              alt="Requires fertilizing"
              i18n-alt="@@tasks.fertilizerRequired"
              src="/assets/fertilizer.png"
              
            >
          </button>
        </div>
      </div>
    }

  </div>
} @else {
  <p i18n="@@tasks.noTasks">Hooray! Nothing left to do!</p>
}

<ng-template #waterModal>
  <p i18n="@@plant-widget-water.confirm">
    This will update your <b>last time watered</b> to today.
  </p>
  <p i18n="@@plant-widget-water.warning">
    If you haven't watered it yet, please check your soil. Never water your
    plants on a schedule!
  </p>
</ng-template>

<ng-template #fertModal>
  <span i18n="@@plant-widget-fertilizer.confirm">
    This will update your <b>last time fertilized</b> to today.
  </span>
</ng-template>