@use 'src/styles/theming.scss' as t;

.tasks {
  &__plant {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 5px;
    padding: 5px;

    &:hover {
      outline: 1px solid black;
    }
  }

  &__plantname {
    font-weight: bold;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__plantpic {
    border-radius: 100%;
    width: 60px;
    height: 60px;
  }
}