@use 'src/styles/theming.scss';

.tasks {
  &__plant {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 5px;
    padding: 5px;

    border: 1px solid black;
  }

  &__plantname {
    font-weight: bold;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__pic {
    width: 40px;
    height: 40px;

    &--disabled {
      filter: grayscale(100%);
    }
  }

}