<form [formGroup]="passwordGroup" (ngSubmit)="submit()" method="post">
  <lt-wizard [form]="passwordGroup" singlePage="true">
    
    <lt-wizard-page>
      
      @if (passwordChanged) {
        <p i18n="@@user-password-reset.passwordChanged">
          The password has changed. Please, sign in again with the new
          password.
        </p>
      } @else if (errorInvalidToken) {
        <p i18n="@@user-password-reset.invalidToken">
          The link has expired or is invalid. Please, request the password
          recovery again.
        </p>
      } @else {
        <lt-wizard-page-description>
          <p i18n="@@user-password-reset.desc">
            Please set a new password below.
          </p>
        </lt-wizard-page-description>

        <lt-password-form
        [requirements]="pwdReq$ | async"
          [passwordGroup]="passwordGroup"
        />

        @if (errorInvalidPassword) {
          <p i18n="@@user-password-reset.invalidPassword">
            Password is invalid. Please follow the rules above.
          </p>
        }
      }

    </lt-wizard-page>
  </lt-wizard>
</form>
