@use 'src/styles/theming.scss' as t;
@use 'src/styles/media.scss' as m;

.body-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include t.themify {
    background-color: t.theme(main_background);
    color: t.theme(main_font_color);

    a {
      color: t.theme(link_color) !important;
    }
  }

}

.content-wrapper {
  flex: 1;
  margin: 0 auto;
  width: 80%;
}

@include m.media(mobile) {
  .content-wrapper {
    width: 95%;
  }
}