@if (plant$ | async; as plant) {
  <form [formGroup]="plantForm" (ngSubmit)="submit()">
    <lt-wizard [form]="plantForm" singlePage="true">
      <lt-wizard-header i18n="@@plant-edit.header">
        Editing {{ plant.visibleName }}
      </lt-wizard-header>

      <lt-wizard-page title="Name" i18n-title="@@general.name">
        <lt-plant-form-name />
      </lt-wizard-page>

      <lt-wizard-page title="Specie" i18n-title="@@general.specie">
        <lt-specie-finder formControlName="specieId" />
      </lt-wizard-page>

      <lt-wizard-page title="Location" i18n-title="@@general.location">
        <lt-plant-form-location />
      </lt-wizard-page>

      <lt-wizard-page title="Description" i18n-title="@@general.description">
        <lt-plant-form-description />
      </lt-wizard-page>

      <lt-wizard-page
        title="Plant condition"
        i18n-title="@@plant-edit.condition"
      >
        <lt-plant-form-condition />
      </lt-wizard-page>

      <lt-wizard-page title="Privacy" i18n-title="@@general.privacy">
        <lt-form-privacy>
          <p i18n="@@plant-add.privacy">
            When your plant is <b>publicly visible</b>, other users will be
            able to see it when visiting your user profile (given that it's
            <b>public</b>).
          </p>
          <p i18n="@@plant-add.privacyTip">
            <strong>Note</strong> that your locations has its own privacy
            settings, and it supersedes the plant's privacy setting, so if the
            location is private users won't be able to see the location plant
            list, but you can share a direct link to this plant.
          </p>
        </lt-form-privacy>
      </lt-wizard-page>
    </lt-wizard>
  </form>
}
