@if ((auth.checked$ | async) && (auth.signedIn$ | async)) {
  <div class="section-header">
    <h1 i18n="@@general.locations">Locations</h1>
    <p i18n="@@home.locations">
      Each location represents a place where your plants are living (i.e.
      <i>a window, the balcony...</i>). They will be your
      <strong>collections</strong> of plants.
    </p>
    <p i18n="@@home.locationsNote">
      Note that you don't need to have them all in the same place as you
      have physically. You can, for example, have <i>Balcony
      (succulents)</i> and <i>Balcony (herbs)</i>.
    </p>
  </div>
  <lt-location-list />
} @else {
  <div class="home">
    <div class="home__signin">
      <lt-signin [homepage]="true" />
    </div>
  </div>
}