@use 'src/styles/variables.scss' as var;
@use 'src/styles/theming.scss' as t;

@mixin styledInput($type, $radius: 0) {
  input[type=#{$type}] {
    font-size: 14pt;
    margin-bottom: 25px;
    opacity: 0;

    +label:before {
      display: inline-block;
      position: relative;
      top: 0.4em;
      width: 1.5em;
      height: 1.5em;

      content: '';
      @include t.themify {
        background-color: t.theme(input_background);
        border: 1px solid darken(t.theme(input_accent), 25%);
      }
      border-radius: #{$radius};
      margin-right: 5px;
      cursor: pointer;
      transition: all 250ms ease;
    }

    &:checked {
      +label:before {
        @include t.themify {
          box-shadow: inset 0 0 0 4px t.theme(input_background);
          background-color: t.theme(input_accent);
        }
      }
    }

    &:focus {
      +label:before {
        @include t.themify {
          border-color: t.theme(input_accent);
        }
      }
    }
  }
}

.form {
  &__textinput, &__number, &__select, &__textarea {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;

    input, select, textarea {
      font-size: 14pt;
      height: 40px;
      width: 350px;
      text-align: center;
      outline: none;

      &::placeholder {
        font-style: italic;
        color: lighten(black, 75%)
      }

      &.ng-dirty.ng-invalid {
        outline: 2px solid red;
        border: 1px solid red;
      }
    }
  }

  &__textarea {
    textarea {
      width: 100%;
      text-align: justify;
      height: auto;
      font-size: 12pt;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 300px;
    }

    datalist {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      writing-mode: vertical-lr;
      width: 300px;
    }
  }

  &__errormsg {
    color: red;
  }

  &__date {
    width: 100%;
    text-align: center;

    input {
      font-size: 14pt;
      width: 350px;
      height: 40px;
      text-align: center;
    }
  }

  &__radio {
    display: block;

    @include styledInput('radio', 100%);

    &-center {
      text-align: center;
    }
  }

  &__checkbox {
    @include styledInput('checkbox')
  }

  &__submit {
    width: 100%;
    text-align: center;
    margin: 15px 0;

    button, input[type="submit"] {
      @include t.themify {
        background-color: t.theme(main_color)
      }
      border: none;
      color: white;
      font-weight: 400;
      font-size: 12pt;
      width: 100px;
      height: 40px;
    }
  }

  &__button {
    button {
      background-color: #42855B;
      border: none;
      color: white;
      font-weight: 400;
      font-size: 12pt;
      width: 100px;
      height: 40px;
    }
  }

  &-error input {
    @include t.themify {
      box-shadow: 0 0 5px t.theme(error);
      border: 1px solid t.theme(error);
    }
  }
}