$themes: (
  light: (
    error: #FF6B6B,
    error_toast_text: #ffffff,
    file-uploader_bg: #f5f5f5,
    file-uploader_text: #3c6478,
    file-uploader_button: #4D96FF,
    file-uploader_button_text: white,
    file-uploader_mouseover: #6BCB77,
    footer_border: darken(#ffffff, 10%),
    footer_link: #4D96FF,
    infobox_background: #EEF5FF,
    infobox_text: #3c6478,
    input_accent: #4E9F3D,
    input_background: #F9F9F9,
    link_color: #000000,
    main_background: white,
    main_color: #4D96FF,
    main_text: #3c6478,
    modal_title: #ffffff,
    nav_link_color: #706c6c,
    nav_link_color-hover: #000000,
    picturebox_content: #ffffff,
    picturebox_cover: #000000b3,
    progressbar_background: #bfbfc1,
    progressbar_color: #ffffff,
    progressbar_progress: #4E9F3D,
    search_results_background: #ffffff,
    search_results_text: #000000,
    search_results_highlight: #4D96FF,
    secondary_color: rgb(130 176 77 / 51%),
    signin_background: #ffffffe6,
    signin_text: #3c6478,
    toolbox_title:  darken(gray, 15%),
    wizard_navigation: #3D8361,
  ),
  dark: (
    error: #FF6B6B,
    error_toast_text: white,
    file-uploader_bg: #f5f5f5,
    file-uploader_button: #610094,
    file-uploader_button_text: white,
    file-uploader_mouseover: #6BCB77,
    file-uploader_text: #3c6478,
    footer_border: lighten(#1b1b1f, 10%),
    footer_link: #bea14f,
    infobox_background: #392467,
    infobox_text: #ffffff,
    input_accent: #4E9F3D,
    input_background: #F9F9F9,
    link_color: rgba(255, 255, 255, 85%),
    main_background: #1b1b1f,
    main_color: #610094,
    main_text: rgba(255, 255, 255, 85%),
    modal_title: #ffffff,
    nav_link_color: rgba(255, 255, 255, 85%),
    nav_link_color-hover: #ffffff,
    picturebox_content: rgba(255, 255, 255, 85%),
    picturebox_cover: #00000099,
    progressbar: #4E9F3D,
    progressbar_color: white,
    search_results_background: white,
    search_results_highlight: #4D96FF,
    search_results_text: black,
    secondary_color: rgb(130 176 77 / 51%),
    signin_background: #1f1f1fe6,
    signin_text: white,
    toolbox_title:  lighten(gray, 15%),
    wizard_navigation: #3D8361,
  )
);