$themes: (
  light: (
    main_color: #4D96FF,
    main_font_color: #3c6478,
    secondary_color: rgb(130 176 77 / 51%),
    main_background: white,
    footer_border: darken(#ffffff, 10%),
    footer_link: #4D96FF,
    brand_color: #200045,
    link_color: #000000,
    nav_link_color: #000000,
    nav_bg: #ffffff,
    picturebox_cover: #000000b3,
    picturebox_content: #ffffff,
    input_background: #F9F9F9,
    input_accent: #4E9F3D,
    search_results_background: #ffffff,
    search_results_text: #000000,
    search_results_highlight: #4D96FF,
    error: #FF6B6B,
    error_toast_text: #ffffff,
    infobox_background: #DBE2EF,
    infobox_text: #3c6478,
    signin_background: #ffffffe6,
    signin_text: #3c6478,
    progressbar_background: #bfbfc1,
    progressbar_progress: #4E9F3D,
    progressbar_color: #ffffff,
    wizard_navigation: #3D8361,
    file-uploader_bg: #f5f5f5,
    file-uploader_text: #3c6478,
    file-uploader_button: #4D96FF,
    file-uploader_button_text: white,
    file-uploader_mouseover: #6BCB77,
  ),
  dark: (
    main_color: #610094,
    main_font_color: rgba(255, 255, 255, 85%),
    secondary_color: rgb(130 176 77 / 51%),
    main_background: #1b1b1f,
    main_textcolor: rgba(255, 255, 255, 85%),
    footer_border: lighten(#1b1b1f, 10%),
    footer_link: #bea14f,
    brand_color: white,
    link_color: rgba(255, 255, 255, 85%),
    nav_link_color: rgba(255, 255, 255, 85%),
    nav_bg: #1b1b1f,
    picturebox_cover: #00000099,
    picturebox_content: rgba(255, 255, 255, 85%),
    input_background: #F9F9F9,
    input_accent: #4E9F3D,
    search_results_background: white,
    search_results_text: black,
    search_results_highlight: #4D96FF,
    error: #FF6B6B,
    error_toast_text: white,
    infobox_background: #DBE2EF,
    infobox_text: #3c6478,
    signin_background: #1f1f1fe6,
    signin_text: white,
    progressbar: #4E9F3D,
    progressbar_color: white,
    wizard_navigation: #3D8361,
    file-uploader_bg: #f5f5f5,
    file-uploader_text: #3c6478,
    file-uploader_button: #610094,
    file-uploader_button_text: white,
    file-uploader_mouseover: #6BCB77,
  )
);