@use 'src/styles/themes.scss' as themes;

@mixin themify {
  @each $theme, $map in themes.$themes {
    // host-context required for Angular to work with its encapsulation
    :host-context(.theme-#{$theme}) & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get(themes.$themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function theme($key) {
  @return map-get($theme-map, $key);
}

