@use 'src/styles/theming.scss' as t;

.buttonbox {

  .button {
    width: 48px;
    height: 48px;
    padding: 1px 0 0 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &__image {
      width: 42px;
      height: 42px;
    }
  }
}