<nav class="mainnav">
  <div class="mainnav__left">
    <div class="mainnav__brand">
      <a routerLink="/">
        <img src="assets/logo.svg">
      </a>
    </div>
    <div class="mainnav__hamburger">
      <box-icon
        [name]="hideMenu ? 'menu' : 'x'"
        size="md"
        border="square"
        (click)="toggleMenu()"
      />
    </div>
  </div>
  <div class="mainnav__right" [ngClass]="{ 'mainnav__hidden': hideMenu }">
    <lt-mainnav-item routerLink="/" i18n="@@mainnav.home">
      Home
    </lt-mainnav-item>
    <lt-mainnav-item routerLink="/plant/all" i18n="@@mainnav.plants">
      Plants
    </lt-mainnav-item>
    <lt-mainnav-item routerLink="/tasks" i18n="@@mainnav.tasks">
      Tasks
    </lt-mainnav-item>

    <lt-mainnav-divisor />

    <lt-mainnav-item>
      <lt-theme-switcher />
    </lt-mainnav-item>
    <lt-mainnav-item>
      <lt-lang-switcher />
    </lt-mainnav-item>

    <lt-mainnav-divisor />

    <lt-mainnav-item>
      <lt-userbox />
    </lt-mainnav-item>
  </div>
</nav>
