@use 'src/styles/theming.scss' as t;
@use 'src/styles/media.scss' as m;

@mixin small-devices {
  .mainnav {
    flex-direction: column;
    border-bottom: 1px solid #c3c3c3;

    &__hamburger {
      display: block;
      margin-right: 1.4rem;
    }

    &__brand {
      flex: 1;
    }

    &__left, &__right {
      gap: 1.4rem;
    }

    &__right {
      flex-direction: column;

      &:last-child {
        padding-bottom: 1.4rem;
      }
    }

    &__divisor {
      &::before {
        margin: 0;
        width: 50vw;
        height: 1px;
      }
    }

    &__hidden {
      display: none;
    }
  }
}

.mainnav {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  width: 100%;

  @include t.themify {
    background-color: t.theme(nav_bg);
  }

  &__hamburger {
    display: none;
  }

  &__divisor {
    &::before {
      background-color: #2e2e32;
      margin: 0 2px;
      width: 1px;
      height: 30px;
      content: '';
      display: block;
    }
  }

  &__left, &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.4rem;
  }

  &__left {
    flex: 1;
  }

  &__right {
    margin-right: 1.5rem;
  }

  &__item {
    font-size: 1.2rem;

    @include t.themify {
      color: t.theme(nav_link_color);
    }

    a {
      @include t.themify {
        color: t.theme(nav_link_color);
      }

      text-decoration: none;
    }
  }

  &__brand {
    img {
      height: 5rem;
    }
  }

  // this class shouldn't have any effect on full view
  &__hidden {
    display: flex;
  }
}

@include m.media('mobile') {
  @include small-devices();
}

@include m.media('tablet') {
  @include small-devices();
}
