@if (user$ | async; as user) {
  <article class="terrarium">
    <article class="terrarium__userbox">
      <img class="terrarium__avatar" [src]="user.avatar | imagePath:'thumb'" />

      <h1 class="terrarium__username">
        {{ user.username }}
      </h1>

      @if (user.firstname || user.lastname) {
        <h2 class="terrarium__realnames">
          {{ this.fullName }}
        </h2>
      }
      @if (user.bio) {
        <blockquote class="terrarium__bio">
          <p>{{ user.bio }}</p>
        </blockquote>
      }
    </article>

    <section class="section-header">
      <h1 i18n="@@terrarium.locationsHeader">Public locations</h1>
    </section>
    <lt-location-list owned="false" [userId]="user.id" />

    <section class="section-header">
      <h1 i18n="@@terrarium.plantsHeader">Public plants</h1>
    </section>
    <lt-plant-list [user]="user" />
  </article>
} @else {
  <p i18n="@@terrarium.userNotFound">User not found</p>
}
