<div class="filter-bar">
  @if (showSearchBar) {
    <div class="filter-bar__search form__textinput">
      <input
        #search
        (input)="filterItems(search.value)"
        type="search"
        placeholder="Search"
        i18n-placeholder="@@general.search"
      />
    </div>
  }

  @if (showSortByName) {
    <div
      class="filter-bar__sortbutton"
      [ngClass]="{ 'filter-bar__sortbutton--active': activeColumn === 'name' }"
    >
      <box-icon
        [name]="nameOrder === 'asc' ? 'sort-a-z' : 'sort-z-a'"
        size="md"
        (click)="toggleSort('name')"
      />
    </div>
  }

  @if (showSortByDate) {
    <div
      class="filter-bar__sortbutton"
      [ngClass]="{ 'filter-bar__sortbutton--active': activeColumn === 'date' }"
    >
      <box-icon
        name="time"
        size="md"
        [flip]="dateOrder === 'desc' ? 'horizontal' : undefined"
        (click)="toggleSort('date')"
      />
    </div>
  }

  @if (showMultipleSelect) {
    <div
      class="filter-bar__sortbutton"
      [ngClass]="{ 'filter-bar__sortbutton--active': multipleSelect }"
    >
      <box-icon
        name="select-multiple"
        size="md"
        (click)="toggleMultipleSelect()"
      />
    </div>
  }
</div>
