<ng-container *ngIf="plantService.plant$ | async as plant">
  <confirm-modal *ngIf="confirmWatering" (accept)="addWater()" (cancel)="confirmWatering = false">
    <p>This will update your <b>last time watered</b> to today.</p>
    <p>If you haven't watered it yet, please check your soil. Never water your plants on a schedule!</p>
  </confirm-modal>

  <widget-box image="/assets/water.png" title="Watering">
    <div>
      <p *ngIf="plant.waterLast"><b>Last time:</b> {{ plant.waterLast | date }}</p>
    </div>
    <div bottom>
      <p *ngIf="plant.waterFreq">Water every <b>{{ plant.waterFreq }} days</b></p>
      <p *ngIf="nextWatering() as nextW">
        <b>Next time:</b>&nbsp;<span [ngStyle]="{ 'color' : nextW.due ? 'red' : null }">{{ nextW.text }}</span>
      </p>
      <plus-button *ngIf="this.plantService.owned" type="add" title="Water" (click)="confirmWatering = true"></plus-button>
    </div>
  </widget-box>
</ng-container>