<a class="picturebox-wrapper" [routerLink]="link">

  @if (add) {
    <div class="picturebox">
      <div class="picturebox__content picturebox__black">
        <div class="picturebox__add">+</div>
        <ng-container *ngTemplateOutlet="content" />
      </div>
    </div>
  } @else {
    <div
      class="picturebox"
      [ngStyle]="{ 'background-image': image ? 'url(' + image + ')' : null }"
    >
      @if (!contentBelow) {
        <div [ngClass]="{ 'picturebox__content': !contentBelow }">
          <ng-container *ngTemplateOutlet="content" />
        </div>
      }
    </div>

    @if (contentBelow) {
      <div class="picturebox__contentbelow">
        <ng-container *ngTemplateOutlet="content" />
      </div>
    }
  }
</a>

<ng-template #content><ng-content /></ng-template>
