@use 'variables.scss' as var;
@use 'themify.scss' as t;
@use 'media.scss' as m;

.picturebox-wrapper {
  @include t.themify {
    color: t.theme(picturebox_content);
  }
}

.picturebox {
  background-size: cover;
  background-position: center;
  background-color: lightgrey;
  height: var.$pictureBoxSize;
  width: var.$pictureBoxSize;
  text-decoration: none;

  a {
    color: white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    @include t.themify {
      background-color: t.theme(picturebox_cover);
    }
  }

  &__contentbelow {
    text-align: center;

    @include t.themify {
      color: t.theme(main_text);
    }
  }

  &__black {
    background-color: black !important;
  }

  &__add {
    font-size: 10rem;
  }
}

@mixin small-devices {
  .picturebox {
    height: 50vw;
    width: 50vw;

    &__add {
      font-size: 8rem;
    }
  }
}

@include m.media('tablet') {
  @include small-devices();
}

@include m.media('mobile') {
  @include small-devices();
}
