@use 'src/styles/variables.scss' as var;
@use 'src/styles/media.scss' as m;

.plant {
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-auto-rows: minmax(min-content, max-content);
    gap: 15px;
    justify-content: center;
    padding-top: 10px;
  }

  &__description {
    padding: 20px;
    font-style: italic;
    text-align: justify;
  }

  &__condition {
    display: flex;
    // justify-content: center;
    margin-top: 5px;

    &-bad:before { background-color: red; }
    &-poor:before { background-color: yellow; }
    &-good:before { background-color: grey; }
    &-great:before { background-color: greenyellow; }
    &-excellent:before { background-color: green; }

    &:before {
      display: inline-block;
      content: '';
      height: 24px;
      width: 24px;
      margin-right: 5px;
      border-radius: 100%;
    }
  }

  &__visibility {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 5px;

    &::before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
    }

    &-public::before {
      background-image: url('../../../assets/visibility-public.png');
    }

    &-private::before {
      background-image: url('../../../assets/visibility-private.png');
    }
  }
}