@use 'form.scss';
@use 'theming.scss' as t;
@use 'media.scss' as m;

.pot-selector {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.6rem;
  text-align: center;
  width: 100%;

  &__material {
    cursor: pointer;
    display: flex;
    flex-direction: column;

    img {
      max-width: 100%;
    }

    &-selected {
      @include t.themify {
        background-color: t.theme(main_color);
      }
    }
  }
}

@include m.media('mobile') {
  .pot-selector {
    grid-template-columns: repeat(2, 1fr);
  }
}
