<div class="userbox" (mouseover)="enableMenu()" (mouseout)="disableMenu()" *ngIf="auth.signedIn$ | async; else notSignedIn">
  <div class="userbox__user">
    <div class="userbox__avatar"></div>
    <div class="userbox__link">
      Hi <b>{{ auth.getUser()?.username }}</b>
    </div>
  </div>
  <div class="userbox__menu" [ngClass]="{ 'userbox__menu-hidden' : !menuVisible }">
    <div class="userbox__menulink">
      <a routerLink="/user/edit">Your profile</a>
    </div>
    <div class="userbox__menulink">
      <a routerLink="/logout">Log out</a>
    </div>
  </div>
</div>
<ng-template #notSignedIn>
  <div class="userbox__link">
    <a routerLink="/signin">Sign in</a>
  </div>
</ng-template>