@use 'src/styles/theming.scss' as t;
@use 'src/styles/media.scss' as m;

@mixin block-middle {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.quick-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 50%);

  &__title {
    @include t.themify {
      background-color: t.theme(main_color);
    }
    position: relative;
  
    font-size: 14pt;
    font-weight: 600;
  
    @include block-middle;
  
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 0;
    width: 35vw;

    @include t.themify {
      border: 1px 1px 0 1px;
      border-style: solid;
      border-color: t.theme(main_font_color);
    }
  }

  &__container {
    @include block-middle;
  
    box-sizing: border-box;
    width: 35vw;
    height: 60vh;
  
    border-radius: 0 0 5% 5%;
    overflow: auto;

    @include t.themify {
      border: 1px 1px 0 1px;
      border-style: solid;
      border-color: t.theme(main_font_color);
      background-color: t.theme(main_background);
      color: t.theme(main_font_color);
    }
  }
  
  &__content {
    padding: 30px;
  }

  @include m.media('mobile') {
    &__title, &__container {
      width: 100%;
    }

    &__container {
      height: 100%;
      border-radius: 0;
    }
  }

  @include m.media('tablet') {
    &__title, &__container {
      width: 80%;
    }

    &__container {
      height: 80%;
    }
  }
}
