@use 'themify.scss' as t;

.progress-bar {
  width: 100%;
  border-radius: 3px;

  @include t.themify {
    background-color: t.theme(progressbar_background);
  }
  
  &__progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    padding: 5px;
    transition: width 0.3s;
    
    @include t.themify {
      background-color: t.theme(progressbar_progress);
      color: t.theme(progressbar_color);
    }
  }
}