<div class="info-box">
  <div class="info-box__header">
    <div class="info-box__logo"></div>
    <div class="info-box__title">
      <h1 *ngIf="title">{{ title }}</h1>
    </div>
  </div>
  <div class="info-box__content" [ngClass]="{ 'info-box__content-horizontal': !vertical }">
    <div [ngClass]="{ 'info-box__content-top': vertical }">
      <ng-content></ng-content>
    </div>
    <div class="info-box__content-bottom">
      <ng-content select="[properties]"></ng-content>
    </div>
  </div>
</div>