<article>
  <header>
    <p i18n="@@location-add-edit.name">
      The name of a new location where your plants will live. Choose a
      <b>recognisable name</b>: <i>window, balcony, coffee table</i>...
    </p>
    <p i18n="@@location-add-edit.nameTip">
      <b>Think</b>: when talking to your friends about the plants here, how do
      you usually call it?
    </p>
  </header>
  <div class="form__textinput">
    <lt-form-base-action>
      <input
        type="text"
        formControlName="name"
        placeholder="Lovely green window"
        i18n-placeholder="@@location-add-edit.namePlaceholder"
      />
    </lt-form-base-action>
  </div>
</article>
