<ul class="picture-list">
  @if (createAddItem && addItemLink) {
    <li>
      <lt-picture-box add="true" [link]="addItemLink">
        <ng-content select="[addItem]" />
      </lt-picture-box>
    </li>
  }

  @if (list) {
    @for (control of checkboxes.controls; track control) {
      <li>
        @if (editMode) {
          <ng-container [formGroup]="form">
            <input
              class="picture-list__select"
              type="checkbox"
              [id]="list[$index].id"
              [formControl]="control"
              (change)="change()"
            >
            <label [for]="list[$index].id">
              <ng-container
                [ngTemplateOutlet]="picctx"
                [ngTemplateOutletContext]="{ item: list[$index] }"
              />
            </label>
          </ng-container>
        } @else {
          <ng-container
            [ngTemplateOutlet]="picctx"
            [ngTemplateOutletContext]="{ item: list[$index] }"
          />
        }
      </li>
    }
  }

</ul>

<ng-template #picctx let-item="item">
  <lt-picture-box
    [contentBelow]="contentBelow"
    [image]="item.image"
    [link]="editMode ? undefined : item.link"
  >
    @if (item.name) {
      <div>{{ item.name }}</div>
    }

    @for (text of item.description; track text) {
      <div>{{ text }}</div>
    }
  </lt-picture-box>
</ng-template>
