@use 'variables.scss' as var;
@use 'media.scss' as m;

.picture-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, var.$pictureBoxSize);
  gap: 1rem;

  margin: 1.3rem 0;

  &-center{
    justify-content: center;
  }
}

@mixin small-devices {
  .picture-list-grid {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    margin: 1.3rem 0;
  }
}

@include m.media('tablet') {
  @include small-devices();
}

@include m.media('mobile') {
  @include small-devices();
}
