<form [formGroup]="form" method="post" (submit)="submit()">
  <div class="modal-text">
    <p i18n="@@plant-edit-watering.warning">
      So, first thing first: <strong>NEVER</strong> water your plants on a
      schedule! <b>Know your plants</b>, check the soil, learn about their
      necessities, and <b>act accordingly</b>.
    </p>
    <p i18n="@@plant-edit-watering.sensitive">
      Many plants are extremely sensitive to overwatering, and many to drought.
    </p>
    <p i18n="@@plant-edit-watering.reminder">
      The watering frequency reminder should be used to remind yourself that
      your plant exists, and to check whether it requires your attention or not.
    </p>
  </div>
  
  <div class="form__date">
    <p i18n="@@plant-edit-watering.lastTime">
      Do you remember <b>when was the last time</b> you watered it?
    </p>
    <input type="date" [max]="today()" formControlName="waterLast">
  </div>
  <div class="form__number">
    <p i18n="@@plant-edit-watering.nextTime">
      <b>How many days</b> should you wait to check your plant again?
    </p>
    <input type="number" formControlName="waterFreq">
  </div>
  <div class="form__submit">
    <button i18n="@@general.update">Update</button>
  </div>
</form>