@if (user$ | async; as user) {
  <form
    [formGroup]="userForm"
    (ngSubmit)="submit()"
    method="put"
    enctype="multipart/form-data"
  >
    <lt-wizard [form]="userForm" singlePage="true">
      <lt-wizard-page title="Username" i18n-title="@@general.username">
        <lt-user-form-username [usernameReq]="usernameReq$ | async">
          <p i18n="@@user-edit.usernameDesc">
            This is how you'll be known around here, and how your profile will
            be accesed. Short, no spaces, no weird things.
          </p>
        </lt-user-form-username>
      </lt-wizard-page>

      <lt-wizard-page title="First and last name" i18n-title="@@general.fullname">
        <lt-user-form-name />
      </lt-wizard-page>

      <lt-wizard-page title="E-mail" i18n-title="@@general.email">
        <lt-user-form-email>
          <p i18n="@@user-edit.emailDesc">
            This is <strong>important</strong>! This is how you can recover
            your account in case you forget your password.
          </p>
        </lt-user-form-email>
      </lt-wizard-page>

      <lt-wizard-page title="Avatar" i18n-title="@@general.avatar">
        <lt-wizard-page-description>
          <p i18n="@@user-edit.avatarDesc">
            Also known as profile picture. Just an image to present yourself.
          </p>
        </lt-wizard-page-description>

        @if (user.avatar && !removeAvatar) {
          <lt-current-pic
            [pic]="user.avatar | imagePath:'thumb'"
            (remove)="toggleRemoveAvatar(true)"
          />
        } @else {
          <lt-file-uploader maxAmount="1" formControlName="avatarFile" />
        }
      </lt-wizard-page>

      <lt-wizard-page title="Bio" i18n-title="@@general.bio">
        <lt-user-form-bio />
      </lt-wizard-page>

      <lt-wizard-page title="Privacy" i18n-title="@@general.privacy">
        <lt-form-privacy>
          <p i18n="@@user-edit.publicProfile">
            If your profile is public, you will be able to share it to whomever
            you want to, and brag about your plants.
          </p>
          <p i18n="@@user-edit.privateProfile">
            If your profile is private, you won't be able to share it, but you'll
            still enjoy of all of the features of Little Terrarium.
          </p>
        </lt-form-privacy>
      </lt-wizard-page>

    </lt-wizard>
  </form>
}
