<nav class="mainnav">
  <div class="mainnav__left">
    <div class="mainnav__brand">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWehnActive="page">
        <img src="assets/logo-h-sm.jpg">
      </a>
    </div>
  </div>
  <div class="mainnav__right">
    <div class="mainnav__item"><a routerLink="/" i18n="@@mainnav.home">Home</a></div>
    <div class="mainnav__item"><a routerLink="/plant/all" i18n="@@mainnav.plants">Plants</a></div>
    <div class="mainnav__item"><a routerLink="/tasks" i18n="@@mainnav.tasks">Pending Tasks</a></div>
    <div class="mainnav__collapsable">
      <div class="mainnav__item"><theme-switcher></theme-switcher></div>
      <div class="mainnav__item"><lang-switcher></lang-switcher></div>
      <div class="mainnav__item"><userbox></userbox></div>
    </div>
  </div>
</nav>
<breadcrumb-navigation></breadcrumb-navigation>