<ng-container *ngIf="plantService.plant$ | async as plant">
  <quick-modal *ngIf="enableWaterEditing" (close)="enableWaterEditing = false" title="Watering" i18n-title="@@general.watering">
    <plant-edit-watering (updated)="enableWaterEditing = false"></plant-edit-watering>
  </quick-modal>

  <quick-modal *ngIf="enableFertilizerEditing" (close)="enableFertilizerEditing = false" title="Fertiliser" i18n-title="@@general.fertilizer">
    <plant-edit-fertilizer (updated)="enableFertilizerEditing = false"></plant-edit-fertilizer>
  </quick-modal>

  <confirm-modal *ngIf="confirmDelete" (accept)="delete()" (cancel)="confirmDelete = false">
    <p i18n="@@plant.remove">This will remove this plant and all of its photos. Are you sure?</p>
    <p><strong i18n="@@general.irreversible">This action is irreversible.</strong></p>
  </confirm-modal>

  <div class="plant">
    <toolbox [title]="plantTitle" [subtitle]="plantSubtitle">
      <ng-container *ngIf="this.plantService.owned">
        <toolbox-button image="assets/water.png" (click)="enableWaterEditing = true"></toolbox-button>
        <toolbox-button image="assets/fertilizer.png" (click)="enableFertilizerEditing = true"></toolbox-button>
        <toolbox-button image="assets/pot.png" (click)="editSoil()"></toolbox-button>
        <toolbox-button image="assets/edit.png" (click)="edit()"></toolbox-button>
        <toolbox-button image="assets/delete.png" (click)="confirmDelete = true"></toolbox-button>
      </ng-container>
    </toolbox>

    <info-box title="Plant information" i18n-title="@@plant.plantInformation">
      <div *ngIf="plant.description" class="plant__description">{{ plant.description }}</div>

      <ng-container properties>
        <div *ngIf="plant.condition" class="plant__condition plant__condition-{{ plant.condition.toLowerCase() }}">
          <b i18n="@@plant.condition">Condition:</b>&nbsp;{{ plantCondition[plant.condition] }}
        </div>
        <div class="plant__visibility" [class]="getVisibilityClass()">
          <b i18n="@@general.visibility">Visibility:</b>
          <ng-container *ngIf="plant.public; else plantPrivate" i18n="@@general.public">Public</ng-container>
          <ng-template #plantPrivate i18n="@@general.private">Private</ng-template>
        </div>
      </ng-container>
    </info-box>

    <div class="plant__row">
      <plant-widget-water *ngIf="plant.waterFreq || plant.waterLast"></plant-widget-water>
      <plant-widget-fertilizer *ngIf="plant.fertFreq || plant.fertLast || plant.fertType"></plant-widget-fertilizer>
      <plant-widget-soil *ngIf="plant.potSize || plant.potType || plant.soil"></plant-widget-soil>
    </div>

    <div class="section-header">
      <h2 i18n="@@plant.photoList">Photos taken for {{ plant.visibleName }}</h2>
    </div>
    <photo-list *ngIf="plant.photos && plant.photos.length > 0" [owned]="this.plantService.owned" [plantId]="plant.id"></photo-list>
  </div>

</ng-container>