@use 'variables.scss' as var;
@use 'media.scss' as m;

.plant {
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-auto-rows: minmax(min-content, max-content);
    grid-row-gap: 2rem;
    justify-content: center;
    padding-top: 0.7rem;
  }

  &__description {
    padding: 1.3rem;
    font-style: italic;
    text-align: justify;
  }
}
