@use 'src/styles/theming.scss' as t;
@use 'src/styles/media.scss' as m;

.widget-box {
  position: relative;
  padding: 25px 20px 10px 20px;
  margin: 10px auto;
  height: 100%;
  left: 0;
  right: 0;
  width: 90%;
  box-sizing: border-box;
  border-width: 5px 1px 1px 1px;
  border-style: solid;

  @include t.themify {
    border-color: t.theme(main_font_color);
  }

  &__title {
    text-align: center;
    font-size: 16pt;
  }

  &__image {
    position: absolute;
    top: -25px;
    width: 48px;
    height: 48px;
    background-size: cover;

    @include t.themify {
      background-color: t.theme(main_background);
    }

    &-center {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-top {
      flex: 1;
    }
  }
}