@use 'themify.scss' as t;
@use 'media.scss' as m;

.widget-box {
  position: relative;
  padding: 1.8rem 1.5rem 0.7rem 1.5rem;
  margin: 0.7rem auto;
  height: 100%;
  left: 0;
  right: 0;
  width: 95%;
  min-width: 25rem;
  box-sizing: border-box;
  border-width: 5px 1px 1px 1px;
  border-style: solid;

  @include t.themify {
    border-color: t.theme(main_text);
  }

  &__title {
    text-align: center;
    font-size: 1.5rem;
  }

  &__image {
    position: absolute;
    top: -25px;
    width: 48px;
    height: 48px;
    background-size: cover;

    @include t.themify {
      background-color: t.theme(main_background);
    }

    &--center {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-top {
      flex: 1;
    }
  }
}