<article class="widget-box">
  <div
    class="widget-box__image"
    [ngStyle]="{ 'background-image': image ? 'url(' + image + ')' : 'none' }"
    [ngClass]="{ 'widget-box__image--center': center === true }"
  >
    @if (!image && icon) {
      <box-icon [name]="icon" type="solid" size="lg" />
    }
  </div>

  <section class="widget-box__content">
    @if (title) {
      <h1 class="widget-box__title">{{ title }}</h1>
    }
    <div class="widget-box__content-top">
      <ng-content />
    </div>
    <ng-content select="[bottom]" />
  </section>
</article>
