@use 'src/styles/theming.scss' as t;
@use 'src/styles/media.scss' as m;

.info-box {
  margin: 0.7rem auto;
  width: 90%;

  @include t.themify {
    color: t.theme(infobox_text);
    border-color: t.theme(infobox_background);
  }

  &__header { 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.7rem;

    @include t.themify {
      background-color: t.theme(infobox_background);
    }
  }

  &__title {
    h1 {
      text-align: left;
      font-size: 1.4rem;
    }
  }

  &__oneliner {
    flex: 1;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;

    @include t.themify {
      color: t.theme(infobox_text)
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@mixin small-screens {
  .info-box {
    &__header {
      flex-direction: column;
    }

    &__oneliner {
      grid-auto-flow: row;
      gap: 1rem;
    }
  }
}

@include m.media('mobile') {
  @include small-screens();
}

@include m.media('tablet') {
  @include small-screens();
}