@use 'src/styles/theming.scss' as t;
@use 'src/styles/variables.scss' as v;

$listItemPadding: 10px;

.ls {
  width: v.$headerItemSize;
  height: v.$headerItemSize;

  &__lang {
    cursor: pointer;
  }

  &__current {
    position: relative;
  }

  &__flag {
    width: v.$headerItemSize;
    height: v.$headerItemSize;
    border: 1px solid black;
    border-radius: 100%;
  }

  &__list {
    position: absolute;
    margin-left: -$listItemPadding;

    @include t.themify {
      background-color: t.theme(main_background);
      border: 1px solid darken(t.theme(secondary_color), 25%);
    }

    &--hidden {
      display: none;
    }

    &> div {
      padding: $listItemPadding;
    }
  }
}