@if (localeList) {
  <div class="ls">
    <div class="ls__lang ls__current">
      <box-icon
        name="globe"
        size="md"
        animation="tada"
        hover="true"
        (click)="toggleList()"
      />
    </div>
    <div class="ls__list" [ngClass]="{ 'ls__list--hidden': listHidden }">
      @for (locale of localeList.locales; track locale) {
        <div class="ls__lang" (click)="changeLocale(locale)">
          <span>{{ getLanguageName(locale) | capitalize }}</span>
        </div>
      }
    </div>
  </div>
}
