@if (availableLocales) {
  <div class="ls">
    <div class="ls__lang ls__current" (click)="toggleList()">
      <img class="ls__flag" src="/assets/flags/{{ currentLocale }}.png">
    </div>
    <div class="ls__list" [ngClass]="{ 'ls__list--hidden': listHidden }">

      @for (locale of getFullLocaleList(); track locale) {
        <div class="ls__lang" (click)="changeLocale(locale)">
          <img class="ls__flag" src="/assets/flags/{{ locale }}.png">
        </div>
      }

    </div>
  </div>
}