<form [formGroup]="userForm" (ngSubmit)="submit()" method="post">
  <lt-wizard [form]="userForm" singlePage="true">
    <lt-wizard-page
      title="Username"
      control="username"
      i18n-title="@@general.username"
    >
      <lt-wizard-page-description>
        <p i18n="@@user-password-recovery.info">
          Please, provide your username or your email and we'll send you a link
          to recover your password.
        </p>
      </lt-wizard-page-description>

      <div class="form__textinput">
        <input type="textinput" formControlName="userRef" />

        @if (checkError$ | async) {
          <p class="form__errormsg" i18n="@@user-password-recovery.error">
            Sorry, we couldn't find the username or email provided.
          </p>
        }

        @if (recoveryStarted$ | async) {
          <p i18n="@@user-password-recovery.success">
            We've sent you an email with a link to recover your password. Just
            in case, check your spam folder!
          </p>
        }
      </div>
    </lt-wizard-page>
  </lt-wizard>
</form>
