@if (plantService.plant$ | async; as plant) {
  <lt-widget-box
    image="assets/pot.png"
    title="Soil and Pot"
    i18n-title="@@plant-widget-soil.title"
  >
    <div>
      <!-- TODO: check if pot translation work without potSize -->
      @if (plant.potType) {
        <p i18n="@@plant-widget-soil.pot">
          Your pot is made of <b>{{ getPotName() }}</b>,
          <!-- FIXME: changing it to the new control flow makes angular compiler crash -->
          <span *ngIf="plant.potSize">with a size of
            <b>{{ plant.potSize | unit:'cm' }}</b>
          </span>.
        </p>
      }

      @if (plant.soil) {
        <p i18n="@@plant-widget-soil.composition">
          Your plant has a nice soil made up of <b>{{ plant.soil }}</b>.
        </p>
      }
    </div>
  </lt-widget-box>
}