@if (plantService.plant$ | async; as plant) {
  <lt-widget-box
    image="assets/pot.png"
    title="Soil and Pot"
    i18n-title="@@plant-widget-soil.title"
  >
    <div>
      @if (plant.potType) {
        <ng-container i18n="@@plant-widget-soil.potMaterial">
          Your pot is made of <b>{{ getPotName() }}</b>.
        </ng-container>
      }

      @if (plant.potSize) {
        <ng-container i18n="@@plant-widget-soil.potSize">It has a diameter of
          <b>{{ plant.potSize | unit:'cm' }}</b>
        </ng-container>.
      }

      @if (plant.soil) {
        <p i18n="@@plant-widget-soil.composition">
          Your plant has a nice soil made up of <b>{{ plant.soil }}</b>.
        </p>
      }
    </div>
  </lt-widget-box>
}