<form
  [formGroup]="locationForm"
  (ngSubmit)="submit()"
  method="post"
  enctype="multipart/form-data"
>
  <lt-wizard 
    [form]="locationForm" 
    [singlePage]="!createNew" 
    [disableNavigation]="disableNavigation"
  >
    @if (!createNew && location) {
      <lt-wizard-header i18n="@@location-add-edit.header">
        Editing location <b>{{ location.name }}</b>
      </lt-wizard-header>
    }

    <lt-wizard-page title="Name" control="name" i18n-title="@@general.name">
      <lt-wizard-page-description>
        <p i18n="@@location-add-edit.name">
          The name of a new location where your plants will live. Choose a
          <b>recognisable name</b>: <i>window, balcony, coffee table</i>...
        </p>
        <p i18n="@@location-add-edit.nameTip">
          <b>Think</b>: when talking to your friends about the plants here, how
          do you usually call it?
        </p>
      </lt-wizard-page-description>
      <div
        class="form__textinput"
        [ngClass]="{ 'form-error': hasFormError('name') }"
      >
        <input
          type="text"
          formControlName="name"
          placeholder="Lovely green window"
          i18n-placeholder="@@location-add-edit.namePlaceholder"
        >
      </div>
    </lt-wizard-page>

    <lt-wizard-page title="Picture" i18n-title="@@general.picture">
      <lt-wizard-page-description>
        <p i18n="@@location-add-edit.choose">
          Choose a nice, beautiful picture to showcase your nice, beautiful
          window/balcony/kitchen drawer/whatever!
        </p>
        <p i18n="@@location-add-edit.ornot">Or, well, don't. Up to you.</p>
      </lt-wizard-page-description>
      <div>
        @if (!createNew && location && location.pictures) {
          <lt-current-pic
            [pic]="imagePath.get(location.pictures, 'thumb')"
            (toggleRemove)="toggleRemovePicture($event)"
          />
        }
        <lt-file-uploader
          maxAmount="1"
          (fileChange)="fileChange($event)"
          [disabled]="removePicture"
        />
      </div>
    </lt-wizard-page>

    <lt-wizard-page title="Light" control="light" i18n-title="@@general.light">
      <lt-wizard-page-description>
        <p i18n="@@location-add-edit.lightInfo">
          There's problably nothing as important for a plant than the sunlight
          (or the lack of).
        </p>
        <p i18n="@@location-add-edit.lightAmount">
          How's the light over here?
        </p>
      </lt-wizard-page-description>

      @for (option of lightOptions | keyvalue; let i = $index; track option.key) {
        <div class="form__radio">
          <input
            type="radio"
            formControlName="light" [id]="'light' + i"
            [value]="option.key"
          >
          <label [for]="'light' + i">
            <b>{{ locationService.getLightName(option.key) }}</b>:
            {{ locationService.getLightVerbose(option.key) }}
          </label>
        </div>
      }
    </lt-wizard-page>

    <lt-wizard-page title="Privacy" i18n-title="@@general.privacy">
      <lt-wizard-page-description>
        <p i18n="@@location-add-edit.visibility">
          When your location is <b>publicly visible</b>, other users will be
          able to see it when visiting your user profile (given that it's
          <b>public</b>).
        </p>
        <p i18n="@@location-add-edit.visibilityNote">
          <strong>Note</strong> that your plants and pictures have their own
          privacy settings, so if you don't want to show some of your dying
          plants or blurry photos you can hide them individually even though
          your location is public.
        </p>
      </lt-wizard-page-description>
      <div class="form__checkbox">
        <input type="checkbox" formControlName="public" id="public-checkbox">
        <label for="public-checkbox" i18n="@@general.visibilityPublic">
          Publicly visible
        </label>
      </div>
    </lt-wizard-page>

  </lt-wizard>
</form>
