@use 'themify.scss' as t;
@use 'media.scss' as m;

.error-toast {
  position: fixed;
  left: 0;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1000;

  &__box {
    position: relative;
    animation: fadeIn 0.3s;
    margin-bottom: 1rem;
    padding: 0.5rem 0.9rem;
    text-align: center;
    width: 30vw;

    @include t.themify {
      border: 1px solid darken(t.theme(error), 30%);
      background-color: t.theme(error);
      color: t.theme(error_toast_text);

    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@include m.media('mobile') {
  .error-toast {
    &__box {
      width: 80vw;
    }
  }
}