<section>
  <header>
    <ng-content />
  </header>

  @if (requirements) {
    <p i18n="@@confirm-password.req">Password must contain:</p>
    <ul>
      <li [ngClass]="{ 'form__errormsg': form.errors && form.errors['minLength'] }">
        <span i18n="@@confirm-password.length">
          Password must be at least
          <b>{{ requirements.minLength }} characters</b> long
        </span>
      </li>

      @if (requirements.requireUppercase) {
        <li
          [ngClass]="{ 'form__errormsg': form.errors && form.errors['missingUppercase'] }"
        >
          <span i18n="@@confirm-password.uppercase">
            One uppercase
          </span>
        </li>
      }

      @if (requirements.requireNumber) {
        <li [ngClass]="{ 'form__errormsg': form.errors && form.errors['missingNumber'] }">
          <span i18n="@@confirm-password.number">One number</span>
        </li>
      }

      @if (requirements.requireNonAlphanumeric) {
        <li [ngClass]="{ 'form__errormsg': form.errors && form.errors['missingNonAlphanumeric'] }">
          <span i18n="@@confirm-password.alphanum">
            One non-alphanumeric character: {{ nonAlphaNumChars }}
          </span>
        </li>
      }
    </ul>
  }

  <form [formGroup]="form">
    <div class="form__textinput">
      <input
        #password
        type="password"
        formControlName="password"
        placeholder="Your password"
        i18n-placeholder="@@confirm-password.input"
        (input)="change($event)"
      >
    </div>
    <div class="form__textinput">
      <input
        type="password"
        formControlName="password2"
        placeholder="Again, your password"
        i18n-placeholder="@@confirm-password.inputRepeat"
        (input)="changeSecondInput(password)"
      >
    </div>

    @if (form.errors && form.errors['different']) {
      <p
        class="form__errormsg confirm-password__mismatch"
        i18n="@@confirm-password.mismatch"
      >
        Passwords don't match
      </p>
    }
  </form>
</section>
