<nav class="admin-sidenav">
  <h1>Admin links</h1>
  <ul>
    <li>
      <a routerLink="/admin/users">
        <box-icon
          name="user-account"
          size="md"
          type="solid"
          fixedWidth="true"
        />
        Users
      </a>
    </li>
    <li>
      <a routerLink="/admin/locations">
        <box-icon name="window" size="md" fixedWidth="true" />
        Locations
      </a>
    </li>
    <li>
      <a routerLink="/admin/plants">
        <box-icon name="leaf" size="md" type="solid" fixedWidth="true" />
        Plants
      </a>
    </li>
    <li>
      <a routerLink="/admin/photos">
        <box-icon
          name="photo-album"
          size="md"
          type="solid"
          fixedWidth="true"
        />
        Photos
      </a>
    </li>
    <li>
      <a routerLink="/admin/species">
        <box-icon
          name="coffee-bean"
          size="md"
          type="solid"
          fixedWidth="true"
        />
        Species
      </a>
    </li>
  </ul>
</nav>