<form [formGroup]="form" (ngSubmit)="submit()" method="post">
  <lt-wizard [form]="form" singlePage="true">
    <lt-wizard-page>
      <lt-wizard-page-description>
        <p i18n="@@user-password.desc">Please set a new password below.</p>
      </lt-wizard-page-description>

      @if (passwordChanged) {
        <p class="pwd-change__warning" i18n="@@user-password.changed">
          Password has changed. Remember to use the new one next time you sign
          in.
        </p>
      }

      <lt-password-form
        [requirements]="pwdReq$ | async"
        [passwordGroup]="form"
      />

      @if (errorInvalidPassword) {
        <p class="pwd-change__warning" i18n="@@user-password.invalidPassword">
          Password is invalid. Please follow the rules above.
        </p>
      }
    </lt-wizard-page>
  </lt-wizard>
</form>
