<form [formGroup]="form" (ngSubmit)="submit()" method="post">
  <lt-wizard [form]="form" singlePage="true">
    <lt-wizard-page>
      @if (passwordChanged$ | async) {
        <p i18n="@@user-password.changed">
          Password has changed. Remember to use the new one next time you sign
          in.
        </p>
      } @else {
        <lt-user-form-password [requirements]="pwdReq$ | async" formControlName="password">
          <p i18n="@@user-password.desc">Please set a new password below.</p>
        </lt-user-form-password>

        @if (errorInvalidPassword$ | async) {
          <p class="pwd-change__warning" i18n="@@user-password.invalidPassword">
            Password is invalid. Please follow the rules above.
          </p>
        }
      }
    </lt-wizard-page>
  </lt-wizard>
</form>
