@use 'src/styles/variables.scss' as var;

body {
  margin: 0;
}

.picture-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, var.$pictureBoxSize);
  gap: 15px;

  margin: 20px 0;
  
  &-center{
    justify-content: center;
  }
}