@use 'src/styles/variables.scss' as var;
@use 'src/styles/media.scss' as m;

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.2em;
  margin: 0;
}

.modal-text {
  text-align: justify;
}

.section-header {
  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.3em;
  }
}

.text-center {
  text-align: center;
}

@include m.media(mobile) {
  .section-header {
    h1, h2, h3 {
      text-align: center;
    }
  }
}