@if (plantService.plant$ | async; as plant) {
  <form
    method="post"
    [formGroup]="plantForm"
    (ngSubmit)="submit()"
    enctype="multipart/form-data"
  >
    <lt-wizard [form]="plantForm" singlePage="true">
      <lt-wizard-header i18n="@@plant-edit.header">
        Editing {{ plant.visibleName }}
      </lt-wizard-header>

      <lt-wizard-page title="Name" i18n-title="@@general.name">
        <lt-wizard-page-description>
          <p i18n="@@plant-add.nameDesc">
            This is the happy moment when we add our beloved plants. First
            things first, identify! Want to give it a <b> name</b>?
          </p>
        </lt-wizard-page-description>
        <div class="form__textinput">
          <input
            type="text"
            formControlName="customName"
            placeholder="Big Fluffy Smelly Geranium"
            i18n-placeholder="@@plant-add.namePlaceholder"
          >
        </div>
      </lt-wizard-page>

      <lt-wizard-page title="Specie" i18n-title="@@general.specie">
        <lt-wizard-page-description>
          <p i18n="@@plant-add.specieDesc">
            Have you identified its specie? Search and select it from the list.
            You can use
            <a href="https://identify.plantnet.org/" target="_blank">Pl&#64;ntNet</a>
            to identify it.
          </p>
        </lt-wizard-page-description>
        <lt-specie-finder
          [selected]="plant.specieId ? plant.specieId : undefined"
          (selectSpecieId)="selectSpecieId($event)"
        />
      </lt-wizard-page>

      <lt-wizard-page title="Location" i18n-title="@@general.location">
        <lt-wizard-page-description>
          <p i18n="@@plant-edit.moved">Did you move your plant?</p>
        </lt-wizard-page-description>
        <div class="form__select">
          <select formControlName="locationId">

            @for (location of locations$ | async; track location.id) {
              <option
                [value]="location.id"
                [selected]="location.id === plant.locationId"
              >
                {{ location.name }}
              </option>
            }

          </select>
        </div>
      </lt-wizard-page>

      <lt-wizard-page title="Description" i18n-title="@@general.description">
        <lt-wizard-page-description>
          <p i18n="@@plant-edit.description">
            Tell us something about your green friend: Where did you get it?
            When? How? Is it a variation of the common species? Is there an
            interesting story behind it?
          </p>
        </lt-wizard-page-description>
        <div class="form__textarea">
          <textarea
            formControlName="description"
            maxlength="300"
            rows="4"
          >
            {{ plant.description }}
          </textarea>
        </div>
      </lt-wizard-page>

      <lt-wizard-page
        title="Plant condition"
        i18n-title="@@plant-edit.condition"
      >
        <lt-wizard-page-description>
          <p i18n="@@plant-edit.health">
            Let's keep track of its health, would you?
          </p>
        </lt-wizard-page-description>
          <lt-group-selector
            [group]="conditions"
            [default]="defaultCondition"
            assetType="icon"
            columns="5"
            (change)="handleChange($event)"
          />
      </lt-wizard-page>

      <lt-wizard-page title="Privacy" i18n-title="@@general.privacy">
        <lt-wizard-page-description>
          <p i18n="@@plant-add.privacy">
            When your plant is <b>publicly visible</b>, other users will be
            able to see it when visiting your user profile (given that it's
            <b>public</b>).
          </p>
          <p i18n="@@plant-add.privacyTip">
            <strong>Note</strong> that your locations has its own privacy
            settings, and it supersedes the plant's privacy setting, so if the
            location is private users won't be able to see the location plant
            list, but you can share a direct link to this plant.
          </p>
        </lt-wizard-page-description>

        <div class="form__checkbox">
          <input type="checkbox" formControlName="public" id="public-checkbox">
          <label for="public-checkbox" i18n="@@general.visibilityPublic">
            Publicly visible
          </label>
        </div>
      </lt-wizard-page>
    </lt-wizard>
  </form>
}