<div *ngIf="isValidId && photo" class="photo">
  <confirm-modal *ngIf="confirmDelete" (accept)="delete()" (cancel)="confirmDelete = false">
    <p>This will remove this photo. Are you sure?</p>
    <p><strong>This action is irreversible.</strong></p>
  </confirm-modal>

  <toolbox>
    <ng-container *ngIf="owned">
      <toolbox-button image="/assets/edit.png"></toolbox-button>
      <toolbox-button image="/assets/delete.png" (click)="confirmDelete = true"></toolbox-button>
    </ng-container>
  </toolbox>

  <div class="photo__image">
    <a [href]="photo.images.full" target="_blank">
      <img [src]="photo.images.mid">
    </a>
  </div>
  <div class="photo__info">
    <p>Description: {{ photo.description }}</p>
    <p>Visibility: {{ (photo.public) ? 'Public' : 'Private' }}</p>
    <p>Photo taken on {{ photo.takenAt | date }}</p>
  </div>
</div>
