@if (breadcrumb.links$ | async; as links) {
  @if (links.length > 0) {
    <nav class="breadcrumb">

      @if (router.url !== '/') {
        <div class="breadcrumb__link">
          <a routerLink="/">
            <box-icon name="home" size="sm" border="square" />
          </a>
        </div>
      }

      @for (link of links; track link.name) {
        <box-icon name="chevron-right" size="md" />

        
        <a [routerLink]="link.link" class="breadcrumb__link">
          @switch (link.selector) {
            @case ('location') {
              <box-icon name="window" size="sm" fixedWidth="true" />
            }
            @case ('plant') {
              <box-icon name="leaf" size="sm" fixedWidth="true" />
            }
            @case ('photo') {
              <box-icon name="image-alt" size="sm" fixedWidth="true" />
            }
          }
          {{ link.name }}
        </a>
      }

    </nav>
  }
}