@use 'src/styles/media.scss' as m;

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  &__prev, &__next {
    z-index: 1000;
  }

  @include m.media(mobile) {
    &__prev {
      margin-right: -30px;
    }

    &__next {
      margin-left: -30px;
    }
  }
}