<article class="toolbox">
  <div class="toolbox__divider">
    <div class="toolbox__title">
      @if (title) {
        <h1>{{ title | capitalize }}</h1>
      }
      @if (subtitle) {
        <h2>{{ subtitle | capitalize }}</h2>
      }
    </div>
    @if (buttons) {
      <ul class="toolbox__buttons">
        @for (button of buttons; track button.name) {
          <li>
            <ng-template [ngTemplateOutlet]="button.buttonTemplate" />
          </li>
        }
      </ul>
    }
  </div>
</article>