@use 'themify.scss' as t;

.mainnav-item {
  font-size: 1.2rem;
  position: relative;

  &--center {
    text-align: center;
  }

  &__islink {
    cursor: pointer;

    @include t.themify {
      color: t.theme(nav_link_color) !important;
    }
    
    &:hover {
      @include t.themify {
        color: t.theme(nav_link_color-hover) !important;
      }
    }
  }
}
